#menu > a:first-of-type {
    display:none;
}

#container {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    overflow:auto;
}

#topbar{
    width:100%;
    background-color:#51473D;
    text-align:right;
    float:left;
    color:#DCE7C5;
}

#menu {
    width:100%;
    height:220px;
    background-color:#51473D;
    background-image:url(pics/coffey.jpg);
    background-repeat:no-repeat;
    background-size:960px 150px;
    float:left;
}

#content {
    float:left;
    background-color:#EAE7D2;
    
}

#maincontent {
    width:650px;
    float:left;
    font-family:times;
    color:#797066;
    margin-left:10px;
    margin-top:20px;
    border-right:1px dashed #797066;
    
}

#maincontent img {
    float:left;
    margin-right:10px;
}

#maincontent p {
    width:500px;
}

#subcontent {
    width:258px;
    float:left;
    color:#797066;
    margin-top:20px;
    margin-left:20px;
}

#bottomcontent {
    float:left;
    color:#797066;
    font-style:italic;
    font-size:12px;
    width:300px;
    margin-left:10px;
}

#menu ul {
    margin-top:175px;
    font-family:verdana;
}

#menu ul li {
    float:left;
    padding-left:35px;
    padding-top:15px;
    padding-bottom:12px;
    background-color:#797066;
    margin-left:5px;
    
}

#menu ul li a {
    margin-right:40px;
    text-transform:capitalize;
}

#menu .active{
    background-color:#EAE7D2;
}

#menu .active:hover{
    background-color:#EAE7D2;
    text-decoration:underline;
}

#menu li.active a{
    color:#888076;
}


li {
    display:inline;
}


a:link {
    text-decoration:none; 
    color:#DCE7C5;
    
}

#menu ul li:hover {
    background-color:#9C9084;
}

#maincontent h1 {
    font-weight:normal;
    font-size:35px;
}

#subcontent h1 {
    font-weight:normal;
    font-size:20px;
    color:#51473D;
}

#subcontent p {
    font-family:times;
    font-size:14px;
}

#subcontent h2 {
    font-weight:normal;
    font-size:16px;
    color:#51473D;
}

#subcontent a {
    color:#51473D;
    text-decoration:underline;
}

#subcontent ul {
    margin-left:-40px;
    margin-top:-10px;
}