#container {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#topbar{
    width:100%;
    background-color:#51473D;
    text-align:right;
    float:left;
}
#menu {
    width:100%;
    height:220px;
    background-color:#51473D;
    background-image:url(pics/coffey.jpg);
    background-repeat:no-repeat;
    background-size:960px 150px;
    float:left;
}

#content {
    float:left;
    background-color:#EAE7D2;
    
}

#maincontent {
    width:690px;
    float:left;
    font-family:times;
    color:#797066;
    margin-left:10px;
    
}

#maincontent img {
    float:left;
    margin-right:10px;
}

#maincontent p {
    width:500px;
}


#subcontent {
    width:260px;
    float:left;
    color:#797066;
    margin-top:20px;
}

#bottomcontent {
    float:left;
    color:#797066;
}

#menu ul {
    margin-top:175px;
    font-family:verdana;
    
}

#menu ul li {
    padding-left:35px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:#797066;
    
}

#menu ul li a {
    margin-right:40px;
    text-transform:capitalize;
}

#menu .active{
    background-color:#EAE7D2;
}

li {
    display:inline;
}


a:link {
    text-decoration:none; 
    color:#DCE7C5;
    
}

a:visited {
    color:#DCE7C5;
}

#menu ul li:hover {
    background-color:#9C9084;
}

#maincontent h1 {
    font-weight:normal;
    font-size:35px;
}

#subcontent h1 {
    font-weight:normal;
    font-size:20px;
    color:#51473D;
}

#subcontent p {
    font-family:times;
    font-size:14px;
}

#subcontent h2 {
    font-weight:normal;
    font-size:16px;
    color:#51473D;
}

#subcontent a {
    color:#51473D;
    text-decoration:underline;
}

#subcontent ul {
    margin-right:30px;
    margin-left:-40px;
}